@model MailMeBilling.Models.loadtemp
@{
    ViewData["Title"] = "PurchaseInvoice";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    int counts = 0;
    decimal totalamount = 0;
    int qty = 0;
}

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<!-- ============ Main content start ============= -->
<div class="main-content" id="main">


    <div class="row" id="loadpage">
        <div class="col-md-12">
            <ul class="nav nav-tabs justify-content-end mb-4" id="myTab" role="tablist">
                <li class="nav-item"><a class="nav-link active" id="edit-tab" data-toggle="tab" href="#edit" role="tab" aria-controls="edit" aria-selected="false">Billing</a></li>


            </ul>
            <div class="card">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade " id="invoice" role="tabpanel" aria-labelledby="invoice-tab">
                        <div id="print">
                            <div class="d-sm-flex mb-5" data-view="print">
                                <span class="m-auto"></span>
                                <button class="btn btn-primary mb-sm-0 mb-3 print-invoice">Print Invoice</button>
                            </div>
                            <!-- -===== Print Area =======-->



                            <partial name="printsection" />
                        </div>
                        <!-- ==== / Print Area =====-->
                    </div>
                    <div class="tab-pane fade show active" id="edit" role="tabpanel" aria-labelledby="edit-tab">
                        <!-- ==== Edit Area =====-->
                        <div class="row">
                            <div class="col-4 text-left">
                                @{var date = DateTime.Now.GetDateTimeFormats()[2];
                                    var BillNo = @ViewBag.Billno;
                                }
                            </div>
                            <div class="col-5">
                                <h3 class="text-center">PURCHASE INVOICE</h3>
                            </div>
                            <div class="col-3">
                                <b>Bill No:  @BillNo </b><br />
                                <b>  Date:</b> @date <br />
                                <b> BillBy:</b> @ViewBag.data
                            </div>
                        </div>
                        <div class="mt-3 mb-4 border-top"></div>
                        <!-- ==== Entry Form Area =====-->
                        <partial name="productform" />
                        <!-- ==<== Entry Form Area End =====-->
                        <!-- ==== Form Area =====-->
                        <fieldset>
                            <div class="col-md-12 table-responsive">
                                <table id="submissionTable" class="table table-bordered table-checkable">
                                    <thead class="table table-hover mb-3">
                                        <tr class="bg-gray-300 text-center">
                                            <td>S.No</td>
                                            <td>Product Name</td>
                                            <td>Category </td>
                                            <td>Subcategory </td>
                                            <td> Color</td>
                                            <td> Brand</td>
                                            <td>HSN Code</td>
                                            <td>Rate </td>
                                            <td>Qty </td>
                                            <td>Amount </td>
                                            <td>Action</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.tmppurchases)
                                        {
                                            counts++;
                                            totalamount += item.Amount;
                                            qty += item.Quantity;
                                            <tr class="text-center">
                                                <td>@counts</td>
                                                <td>@item.Productname</td>
                                                <td>@item.Category </td>
                                                <td>@item.Subcategory </td>
                                                <td> @item.Color</td>
                                                <td>@item.Brand </td>
                                                <td>@item.Hsncode </td>
                                                <td>@item.Rate </td>
                                                <td>@item.Quantity </td>
                                                <td>@item.Amount </td>
                                                <td class="text-center"> <button type="button" class="btn btn-outline-secondary float-right" onclick=Delete(@item.Id)>Delete</button></td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>

                            <form id="summery" asp-action="addtmpsummery" asp-controller="Purchaseinvoice" method="post" enctype="multipart/form-data">
                                <input type="hidden" value="@BillNo" name="Billid" id="Billno" />
                                <br />
                                <h5 class="font-weight-bold">Vendor Details</h5><br />
                                <div class="row">
                                    <div class="col-md-3">
                                        <input class="form-control" id="Customernumber" type="text" name="Mobilenumber" onchange="checkcustomer()" placeholder="Mobile Number" value="" required /><br />
                                        <input class="form-control" id="Customername" type="text" name="Vendorrname" placeholder="Vedor Name" required value="" /><br />
                                        <textarea class="form-control" name="Address" id="Address" placeholder="Vedor Address"></textarea>
                                        <div class="card-body">
                                            <h4 class="card-title">upload</h4>
                                            <div class="dropzone" id="single-file-upload">
                                                <div class="fallback">
                                                    <input name="upload" type="file" accept="application/pdf"   required />
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <br />
                                    <div class="col-md-9">
                                        <div class="invoice-summary invoice-summary-input float-right">
                                            <p style="padding-right:20px">Sub total: <span><b> @totalamount </b></span></p>
                                            <p class="d-flex align-items-center">
                                                <input type="hidden" value="@totalamount" name="u" id="hitAmount" />
                                                <input type="hidden" value="@qty" name="Totalqty" id="" />
                                                GST:
                                                <select name="Gst" id="Gst" onchange="getgst()" required>
                                                    <option value="">Select</option>
                                                    <option value="GST">With GST</option>
                                                    <option value="NOGST">WithOut GST</option>

                                                </select>
                                            </p>
                                            <script>
                                           
                                                var gst = document.getElementById("gst");



                                                var a = ['', 'One ', 'Two ', 'Three ', 'Four ', 'Five ', 'Six ', 'Seven ', 'Eight ', 'Nine ', 'Ten ', 'Eleven ', 'Twelve ', 'Thirteen ', 'Fourteen ', 'Fifteen ', 'Sixteen ', 'Seventeen ', 'Eighteen ', 'Nineteen '];
                                                var b = ['', '', 'Twenty', 'Thirty', 'Forty', 'Fifty', 'Sixty', 'Seventy', 'Eighty', 'Ninety'];

                                                function inWords(num) {
                                                    if ((num = num.toString()).length > 9) return 'overflow';
                                                    n = ('000000000' + num).substr(-9).match(/^(\d{2})(\d{2})(\d{2})(\d{1})(\d{2})$/);
                                                    if (!n) return; var str = '';
                                                    str += (n[1] != 0) ? (a[Number(n[1])] || b[n[1][0]] + ' ' + a[n[1][1]]) + 'Crore ' : '';
                                                    str += (n[2] != 0) ? (a[Number(n[2])] || b[n[2][0]] + ' ' + a[n[2][1]]) + 'Lakh ' : '';
                                                    str += (n[3] != 0) ? (a[Number(n[3])] || b[n[3][0]] + ' ' + a[n[3][1]]) + 'Thousand ' : '';
                                                    str += (n[4] != 0) ? (a[Number(n[4])] || b[n[4][0]] + ' ' + a[n[4][1]]) + 'Hundred ' : '';
                                                    str += (n[5] != 0) ? ((str != '') ? 'And ' : '') + (a[Number(n[5])] || b[n[5][0]] + ' ' + a[n[5][1]]) + 'Only ' : '';
                                                    return str;
                                                }
                                                function getgst() {
                                                    var tog = document.getElementById("gstandamount");

                                                    $(tog).empty();

                                                    var ntwo = inWords(parseFloat(tog.value));
                                                    console.log(ntwo);

                                                    document.getElementById('words').value = ntwo;
                                                   
                                                }
                                                  ;


                                                function amountres(amt) {
                                                    var amount = amt;
                                                    var togst = document.getElementById("gstandamount");
                                                    var res = document.getElementById("balance");
                                                    var tmp = parseFloat(togst.value) - parseFloat(amount.value)
                                                    res.value = tmp;
                                                    //var ntw = inWords(amount.value);
                                                    //console.log(tmp);
                                                    //if (isNaN(res.value)) {
                                                    //    res.value = 0;
                                                    //    document.getElementById('words').value = ntw;
                                                    //    console.log("if");
                                                    //}
                                                    //else {
                                                    //    document.getElementById('words').value = ntw;

                                                    //}

                                                }
                                            </script>


                                            <h5 class="font-weight-bold d-flex align-items-center">
                                                Grand Total:<span>
                                                    <input class="form-control" name="Totalamount" id="gstandamount" type="text" readonly value="@totalamount" />
                                                </span>
                                            </h5><br />
                                            <div class="border">
                                                <h5 class="font-weight-bold d-flex align-items-center">
                                                    Payment Type:<span>
                                                        <select name="Paymenttype" required>
                                                            <option value="">Select</option>
                                                            <option value="Cash">Cash</option>
                                                            <option value="Card">Card</option>
                                                            <option value="Card">Credit</option>
                                                            <option value="Nettrancection">Net Transfer</option>
                                                            <option value="EMI">EMI</option>
                                                            <option value="UPI">UPI</option>

                                                        </select>
                                                    </span>
                                                </h5><br />
                                                <h5 class="font-weight-bold d-flex align-items-center">
                                                    Reference No:<input class="form-control" name="Refcode" id="ref" type="text" value="" />

                                                </h5><br />
                                            </div>
                                            <br />
                                            <h5 class="font-weight-bold d-flex align-items-center">
                                                Paid:<input class="form-control" id="paid" name="paid" onkeyup="amountres(this)" type="text" autocomplete="off" required value="" />

                                            </h5>

                                            <h5 class="font-weight-bold d-flex align-items-center">
                                                Balance:<input class="form-control" name="Balance" id="balance" readonly type="text" value="0" />

                                            </h5>
                                            <span id=""></span>
                                            <input class="form-control" name="ntow" id="words" readonly type="text" value="" />
                                            <br />

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 form-group mb-3 text-right" style="padding-top:22px; padding-right:10px">
                                    <input type="submit" value="Save Bill" class="btn btn-primary" />


                                </div>
                            </form>

                        </fieldset>

                        <!-- ==== / Form Area =====-->
                        <!-- ==== / Edit Area =====-->
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end of main-content -->
</div><!-- Footer Start -->
<!-- ============ Main content End ============= -->
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script>
   
    //Check Customer
     function checkcustomer() {

         var num = $('#Customernumber').val();
        $.ajax({
            url: '@Url.Action("fillvendordetails")',
            type: "GET",
            dataType: "JSON",
            data: { mob: num },
            success: function (data) {
                console.log(data);
                if (data != null) {
                    $("#Save").prop("disabled", false);
                    var Cat = document.getElementById("Customername");
                    var sub = document.getElementById("Address");
                    $(Cat).empty();
                    Cat.value = data['name'];
                    sub.value = data['address'];


                    toastr.success("This Customer Already Registered", "Our  Customer", {
                        closeButton: !0
                    });
                }
                else {
                    toastr.success("This Customer is new", "New  Customer", {
                        closeButton: !0
                    });

                }





            }

        });

    }

    $(function () {

        $("#tags").autocomplete({

            source: function (request, response) {
                $.ajax({
                    url: "/Salesinvoice/Getproductname",
                    type: "POST",
                    dataType: "json",
                    data: { Prefix: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.productname, value: item.productname };
                        }))

                    }
                })
            },
            messages: {
                noResults: "",
                results: function (count) {
                    return count + (count > 1 ? ' results' : ' result ') + ' found';
                }
            }

        });
    });
    function autoname () {


        $("#tags").autocomplete({

            source: function (request, response) {
                $.ajax({
                    url: "/Salesinvoice/Getproductname",
                    type: "POST",
                    dataType: "json",
                    data: { Prefix: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.productname, value: item.productname };
                        }))

                    }
                })
            },
            messages: {
                noResults: "",
                results: function (count) {
                    return count + (count > 1 ? ' results' : ' result ') + ' found';
                }
            }

        });
    }


    //testing
    function addamount(qtys)
    {

        var tamount = 0;
        var rat = document.getElementById("Rate");
        var qty = qtys.value;
        var Amount = document.getElementById("Amount");
        var st = document.getElementById("stock");

        $("#addproduct").prop("disabled", false);

            tamount = parseInt(rat.value) * parseInt(qty);

            Amount.value = tamount;
            if (isNaN(tamount)) {
                Amount.value = 0;
            }




    }
    function myFun() {

        var pname = $('#tags').val();
        $.ajax({
            url: '@Url.Action("fillcol")',
            type: "GET",
            dataType: "JSON",
            data: { name: pname },
            success: function (data) {

                $("#Save").prop("disabled", false);
                var Cat = document.getElementById("Category");
                var sub = document.getElementById("Subcategory");
                var col = document.getElementById("Color");
                var bran = document.getElementById("Brand");
                var rat = document.getElementById("Rate");
                var hrat = document.getElementById("hitrate");
                var hsn = document.getElementById("Hsncode");
                var amt = document.getElementById("Amount");
                var qty = document.getElementById("Quantity");
                var st = document.getElementById("stock");
                var img = document.getElementById("img");
                var img2 = document.getElementById("img2");
                $(Cat).empty();
                $(sub).empty();
                $(col).empty();
                $(bran).empty();
                $(rat).empty();
                $(hrat).empty();
                $(hsn).empty();
                $(amt).empty();
                $(qty).empty();
                $(st).empty();
                $(img).empty();
                $(img2).empty();
                Cat.value = data['category'];
                sub.value = data['subcCategory'];
                col.value = data['color'];
                bran.value = data['brand'];

                hrat.value = data['salesrate'];
                hsn.value = data['hsncode'];
                st.value = data['stock'];
                var imgsrc = 'data:image/png;base64,' + data['productimage']; // here data should be in base64 string
                img.innerHTML = '<img class="img-responsive" src="' + imgsrc + '" alt="tbl_StaffImage" height="200px" width="350px" data-toggle="modal" data-target=".bd-example-modal-lg">';
                img2.innerHTML = '<img class="img-responsive" src="' + imgsrc + '" alt="tbl_StaffImage" height="auto" width="auto" data-toggle="modal" data-target=".bd-example-modal-lg">';
                console.log("img source", img.source);
                $("#Rate").focus();
                $("#Save").prop("disabled", false);
                if (st.value <= 0) {
                    $("#Save").prop("disabled", true);
                    toastr.error("Product  not Available .", "No Stock!", {
                        timeOut: 6000
                    });
                    $("#Save").prop("disabled", true);
                }

            }
        });

    }
    // js for add product
    $("#Save").click(function (event) {
        alert("Fun run");
        event.preventDefault();
        var form = $('#myform').serialize();
        console.log(form);
        if ($("#myform").valid()) {
            alert("Valide");
            $("#Save").prop("disabled", true);
            $.ajax({
                type: "POST",
                enctype: 'multipart/form-data',
                url: '@Url.Action("addtmp")',
                data: form,
                processData: false,
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                cache: false,
                timeout: 600000,
                success: function (data) {
                    toastr.success("Product has been successfully saved", "Product Add successfully ", {
                        closeButton: !0
                    });
                    $("#loadpage").load(" #loadpage");
                    $("#myform").load(" #myform");
                    autoname();
                },
                error: function (e) {

                     console.log("ERROR : ", e);
                    $("#Save").prop("disabled", false);
                    alert("Error");

                }
            });

        }




    });
    //Testing part
    var Save = function () {

         var form = $('#myform').serialize();
        console.log(form);
        if ($("#myform").valid()) {

            $("#Save").prop("disabled", true);
            $.ajax({
                type: "POST",
                enctype: 'multipart/form-data',
                url: '@Url.Action("addtmp")',
                data: form,
                processData: false,
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                cache: false,
                timeout: 600000,
                success: function (data) {
                    toastr.success("Product has been successfully saved", "Product Add successfully ", {
                        closeButton: !0
                    });
                    $("#loadpage").load(" #loadpage");
                    $("#myform").load(" #myform");
                    $("#print").load(" #print");
                    autoname();
                },
                error: function (e) {

                     console.log("ERROR : ", e);
                    $("#Save").prop("disabled", false);
                    alert("Error");

                }
            });

        }
    }


    //Testing part end

    var Savesum = function () {

        var form = $('#summery').serialize();
        console.log(form);
        if ($("#summery").valid()) {

            $("#Save").prop("disabled", true);
            $.ajax({
                type: "POST",
                enctype: 'multipart/form-data',
                url: '@Url.Action("addtmpsummery")',
                data: form,
                processData: false,
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                cache: false,
                timeout: 600000,
                success: function (data) {
                    toastr.success("You bill save and ready to print", "Bill Save successfully ", {
                        closeButton: !0
                    });
                    $("#loadpage").load(" #loadpage");
                    $("#myform").load(" #myform");
                    autoname();
                },
                error: function (e) {

                     console.log("ERROR : ", e);
                    $("#Save").prop("disabled", false);
                    alert("Error");

                }
            });

        }
    }
    // js for Delete product
    function Delete(id) {
        var data = id;
            $.ajax({
                type: "DELETE",
                enctype: 'multipart/form-data',
                url: '@Url.Action("deletetmp")',
                data: { 'id': data },
                success: function (data) {
                    if (data.success) {
                        toastr.error("Product has been successfully Removed.", "Delete!", {
                            timeOut: 6000
                        });
                        $("#loadpage").load(" #loadpage");

                    }
                    else {
                        toastr.error(data.message);
                    }
                }
            });




    }
    //Testing end

</script>


