@model IEnumerable<MailMeBilling.Models.creditnote>

@{
    ViewData["Title"] = "INDEX";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Credit Note List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.cdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.person)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.particular)
            </th>
          
            <th>
                @Html.DisplayNameFor(model => model.totalamount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mobilenumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.cdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.person)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.particular)
            </td>
          
            <td>
                @Html.DisplayFor(modelItem => item.totalamount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mobilenumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.address)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.cid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.cid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.cid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
