@{ int count = 0;
    decimal totalcredit = 0;
    decimal totaldebit = 0;
    decimal totalbalance = 0;}




<!--print test-->

<div id="print-area" style="font-family: New Century;  font-size:medium; padding-top: 0px;">
    <div class="row">
       
        <div class="col-12 text-center">


            <div class="col-12 text-center" style="font-family: Apple Chancery;">
                <h1><b>ABDULLAH FURNITURES </b></h1>
                <h5><b>WHOLESALE DEALER : STEEL FURNITURE & WOODEN FURNITURE, HOME APPLIANCE</b></h5>
                <h5><b>17 A Vanjinathan Aiyar Street (Near New Bus Stand), Salem – 636004 </b></h5>
                <p> <b>E-Mail: newabdullahfurniture@gmail.com </b> <b>Mobile:9894921453,9445933235</b></p>
                @foreach (var item in Model.vendors)
                {
                    <h2><b><u>@item.Name</u></b></h2>
                   
                    <p><b> Ledger Account</b></p>
                }



            </div>
            


            <table style="width:100%">


                <tr class="text-center" style="border: 1px solid black;">
                    <th style="padding-left: 10px; padding-right: 0px;  width: 1%;">S.No</th>
                    <th style=" width: 15%;">DATE</th>
                    <th style=" width: 15%;">PAY-TYPE</th>
                    <th style=" width: 10%;">REF-No</th>
                    <th style=" width: 7%;">BILL No</th>
                    <th style="width: 15%;text-align: right">DEBIT</th>
                    <th style="width: 20%;text-align: right">CREDIT</th>
                    <th style="width: 20%;text-align: right; padding-right:50px">BALANCE</th>
                </tr>
                @foreach (var item in Model.vendorpayments)
                {
                    count++;
                    totalcredit += item.Payment;
                    totalbalance += item.Balance;
                    totaldebit += item.total;

                    string datein = Convert.ToDateTime(item.Paiddate).ToString("dd/MM/yyyy");

                    



                    <tr class="text-center">
                        <th>@count</th>
                        <th>@datein</th>
                        <th>@item.paymenttype</th>
                        <th>@item.refno</th>
                        <th>@item.billid</th>
                        <th style="text-align:right;">@item.total</th>
                        <th style="text-align:right;">@item.Payment</th>

                        <th style="text-align:right;padding-right:50px">@item.Balance</th>
                    </tr>

                }
                <tbody>
                </tbody>

                <tfoot>

                    <tr style="text-align:right; border: 1px solid black; border-bottom-color:white; border-right-color:white; border-left-color:white; ">
                        @{ var todebi = totalcredit + totalbalance;
                                var sumamt = Convert.ToDecimal(ViewBag.sumofcustomerbuyamount);
                            var balance = Convert.ToDecimal(sumamt) - Convert.ToDecimal(totalcredit) ;}
                        <th colspan="6"><h4><b> @ViewBag.sumofcustomerbuyamount </b> </h4></th>
                        <th><h4><b> @totalcredit </b></h4></th>
                        <th style="text-align:right;padding-right:50px"><h4> <b> </b></h4></th>
                    </tr>
                    <tr style="text-align:right; border: 1px solid black; border-bottom-color:black; border-right-color:white; border-left-color:white; ">

                        <th colspan="6" style="text-align:center"><h4><b>Closing Balance </b> </h4></th>
                        <th><h4 style="color:red"><b> @balance </b></h4></th>
                        <th style="text-align:right;padding-right:50px"><h4> <b> </b></h4></th>
                    </tr>

                    <tr style="text-align: right;border: 1px solid black;border-bottom-color: black;border-right-color: white;border-left-color: white; border-top-color: black;
">
                      
                        <th colspan="6"><h4><b> @ViewBag.sumofcustomerbuyamount </b> </h4></th>
                        <th><h4><b> @ViewBag.sumofcustomerbuyamount</b></h4></th>
                        <th style="text-align:right;padding-right:50px"><h4> <b> </b></h4></th>
                    </tr>
                </tfoot>
            </table>



        </div>
  

    @*<div class="row">
        <div class="col-6 text-left">
            <h5><b>E & E ALL Disputes Are Subject To Salem Jurisdiction</b> </h5>  <br />
            <h5><b>Goods Once Sold Cannot Be Taken Back</b> </h5>
        </div>
        <div class="col-6 text-right">
            <h3><b>ABDULLAH FURNITURES</b></h3><br />
            <br />
            <h5 style="padding-right:20px"><b>Authorized Signature</b></h5>
        </div>
    </div>*@
</div>

