@{ int count = 0;
    decimal totalcredit = 0;
    decimal totaldebit = 0;
    decimal totalbalance = 0;
    decimal vbillno = 0;
    decimal vcno = 0;}


    <link href="~/css/PrintStyle.css" rel="stylesheet" />

<!--print test-->

<div id="print-area" style="font-family: New Century;  font-size:medium; padding-top: 0px;">
    <div class="row">
       
        <div class="col-12 text-center">


            <div class="col-12 text-center" style="font-family: Apple Chancery;">
                <h1><b>ABDULLAH FURNITURES </b></h1>
                <h5><b>WHOLESALE DEALER : STEEL FURNITURE & WOODEN FURNITURE, HOME APPLIANCE</b></h5>
                <h5><b>17 A Vanjinathan Aiyar Street (Near New Bus Stand), Salem – 636004 </b></h5>
                <p> <b>E-Mail: newabdullahfurniture@gmail.com </b> <b>Mobile:9894921453,9445933235</b></p>
                @foreach (var item in Model.vendors)
                {
                    <h2><b><u>@item.Name</u>    </b></h2>
                   
                    <p><b> Ledger Account</b></p>
                }



            </div>
            


            <table style="width:100%">
                <thead>

                    <tr class="text-center" style="border: 1px solid black;">
                        <th style="padding-left: 10px; padding-right: 0px;  width: 1%;">S.No</th>
                        <th style=" width: 15%;">DATE</th>
                        <th style=" width: 15%;">BRANCH</th>
                        <th style=" width: 15%;">PAY-TYPE</th>
                        <th style=" width: 10%;">REF-No</th>
                        <th style=" width: 7%;">BILL No</th>
                        <th style="width: 15%;text-align: right">DEBIT</th>
                        <th style="width: 20%;text-align: right">CREDIT</th>
                        <th style="width: 20%;text-align: right; padding-right:50px">BALANCE</th>
                    </tr>

                </thead>
                @foreach (var item in Model.vendorpayments)
                {
                    count++;
                    if (ViewBag.sumofreturn.Count != 0)
                    {
                        @foreach (var itemre in ViewBag.sumofreturn)
                        {
                            if (itemre.Billid != item.billid)
                            {
                                totalcredit += item.Payment;
                            }
                        }

                    }
                    else
                    {
                        totalcredit += item.Payment;
                    }


                    totalbalance += item.Balance;
                    if (totaldebit != item.total)
                    {
                        totaldebit += item.total;
                    }
                    string datein = Convert.ToDateTime(item.Paiddate).ToString("dd/MM/yyyy");

            <tr class="text-center">
                <th>@count</th>
                <th>@datein</th>
                <th>@item.Branch</th>
                <th>@item.paymenttype</th>
                <th>@item.refno</th>
                <th>(P) @item.billid</th>
                <th style="text-align:right;">
                    @if (item.total != Convert.ToDecimal(0) && item.billid != vbillno)
                    {
                        @item.total
                    }

                </th>
                <th style="text-align:right;">
                    @if (item.total != Convert.ToDecimal(0))
                    {
                        @item.Payment
                    }
                </th>

                <th style="text-align:right;padding-right:50px">@item.Balance</th>
            </tr>
                    vbillno = item.billid;

                }

                @foreach (var item in Model.creditnotes)
                {
                   // count++;
                    if (item.totalamount != 0)
                    {
                        totaldebit += item.totalamount;
                    }
                    totalcredit += item.Paid;
                    string dateing = Convert.ToDateTime(item.cdate).ToString("dd/MM/yyyy");

                  

                    @foreach (var itemc in Model.creditpaymenthistries)
                    {
                       
                        string datec = Convert.ToDateTime(itemc.Paiddate).ToString("dd/MM/yyyy");

                        @if (item.cid == itemc.billid)
                        {
                            count++;
            <tr class="text-center">
                <th>@count</th>
                <th>@dateing</th>
                <th>@itemc.branch</th>
                <th>@itemc.paymenttype</th>
                <th>@itemc.refno</th>
                <th>(C) @itemc.billid</th>
                <th style="text-align:right;">
                    @if (itemc.total != Convert.ToDecimal(0) && itemc.billid != vcno)
                    {
                        @itemc.total
                    }

                </th>
                <th style="text-align:right;">
                    @if (itemc.Payment != Convert.ToDecimal(0))
                    {
                        @itemc.Payment
                    }

                </th>
                <th colspan="2" style="text-align: right;padding-right: 50px">@itemc.Balance </th>



            </tr>
                            vcno = itemc.billid;
                        }


                    }

                }
                <tbody>
                </tbody>

                <tfoot>

                    <tr style="text-align:right; border: 1px solid black; border-bottom-color:white; border-right-color:white; border-left-color:white; ">


                        @{ var todebi = totalcredit + totalbalance;
                            var sumamt = Convert.ToDecimal(ViewBag.sumofcustomerbuyamount) + totaldebit;
                            var tc = Convert.ToDecimal(totalcredit);
                            var balance = totaldebit - Convert.ToDecimal(tc);
                        }
                        <th colspan="7"><h4><b> @totaldebit </b> </h4></th>
                        <th><h4><b> @tc </b></h4></th>
                        <th style="text-align:right;padding-right:50px"><h4> <b> </b></h4></th>
                    </tr>
                    <tr style="text-align:right; border: 1px solid black; border-bottom-color:black; border-right-color:white; border-left-color:white; ">

                        <th colspan="7" style="text-align:center"><h4><b>Closing Balance </b> </h4></th>
                        <th><h4 style="color:red"><b> @balance </b></h4></th>
                        <th style="text-align:right;padding-right:50px"><h4> <b> </b></h4></th>
                    </tr>

                    <tr style="text-align: right;border: 1px solid black;border-bottom-color: black;border-right-color: white;border-left-color: white; border-top-color: black;
">

                        <th colspan="7"><h4><b> @totaldebit </b> </h4></th>
                        <th><h4><b> @totaldebit</b></h4></th>
                        <th style="text-align:right;padding-right:50px"><h4> <b> </b></h4></th>
                    </tr>
                </tfoot>
            </table>



        </div>
  

   

</div>
    </div>
