@{ int count = 0;
    decimal totalcredit = 0;
    decimal totaldebit = 0;
    decimal totalbalance = 0;
    decimal checkbillno = 0;
    decimal checkcno = 0;
    }




<!--print test-->
<link href="~/css/PrintStyle.css" rel="stylesheet" />
<div id="print-area" style="font-family:'Courier New';font-size:medium;padding-top:0px;">
    <div class="row">

        <div class="col-12 text-center">


            <h1><b>CUSTOMER STATEMENT</b></h1>
            <div class="col-12 text-left ">
                @foreach (var item in Model.customerdetails)
                {
                    <div class="row">
                        <div class="col-6">
                            <div class="row">
                                <div class="col-4">
                                    <b>Customer Name </b>
                                </div>
                                <div class="col-1" style="text-align:right">
                                    <span style="text-align:right;">:</span>
                                </div>
                                <div class="col-7" style="text-align:left">
                                    @item.Customername
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <b> Mobile Number</b>
                                </div>
                                <div class="col-1" style="text-align:right">
                                    <span style="text-align:right;">:</span>
                                </div>
                                <div class="col-7" style="text-align:left">
                                    @item.Mobilenumber
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-4">
                                    <b> Adddress</b>
                                </div>
                                <div class="col-1" style="text-align:right">
                                    <span style="text-align:right;">:</span>
                                </div>
                                <div class="col-7" style="text-align:left">
                                    <p> @item.Address</p>
                                </div>
                            </div>
                        </div>

                    </div>


                    <br />

                }

            </div>


            <table style="width:100%">
                <thead>

                    <tr class="text-center" style="border: 1px solid black;font-family: Apple Chancery">
                        <th style="padding-left: 10px; padding-right: 0px;  width: 1%;">S.NO</th>
                        <th style=" width: 15%;">DATE</th>
                        <th style=" width: 15%;">PAYMENT TYPE</th>
                        <th style=" width: 10%;">REF NO</th>
                        <th style=" width: 7%;">BILL NO</th>
                        <th style="width: 15%;text-align: right">DEBIT</th>
                        <th style="width: 20%;text-align: right">CREDIT</th>
                        <th style="width: 20%;text-align: right; padding-right:50px">BALANCE</th>
                    </tr>
                </thead>
                @foreach (var item in Model.customerpaymenthistries)
                {
                   count++;
                    totalcredit += item.Payment;
                    totalbalance += item.Balance;
                   
                    string datein = Convert.ToDateTime(item.Paiddate).ToString("dd/MM/yyyy");
                    <tr class="text-center">
                        <th>@count </th>
                        <th>@datein</th>
                        <th>@item.paymenttype</th>
                        <th>@item.refno</th>
                        <th>@item.billid</th>
                        <th style="text-align:right;">
                            @if (item.total != Convert.ToDecimal(0) && item.billid != checkbillno)
                            {
                                @item.total
                                totaldebit += item.total;
                            }


                        </th>
                        <th style="text-align:right;">
                            @if (item.Payment != Convert.ToDecimal(0))
                            {
                                @item.Payment
                            }
                            </th>

                        <th style="text-align:right;padding-right:50px">@item.Balance</th>
                    </tr>
                    checkbillno = item.billid;
                }
                @foreach (var item in Model.creditnotes)
                {
                   // count++;
                    totalcredit += item.Paid;
                    totalbalance += item.Balance;
                   
                    string dateing = Convert.ToDateTime(item.cdate).ToString("dd/MM/yyyy");
                  
                  
                    @foreach (var itemc in Model.creditpaymenthistries)
                    {
                        count++;
                        string datec = Convert.ToDateTime(itemc.Paiddate).ToString("dd/MM/yyyy");

                        @if (item.cid == itemc.billid)
                        {
                            <tr class="text-center">
                                <th>@count </th>
                                <th>@datec</th>
                                <th>@itemc.paymenttype</th>
                                <th>@itemc.refno</th>
                                <th>@itemc.billid</th>
                                <th style=" text-align:right">
                                    @if (itemc.total != Convert.ToDecimal(0) && itemc.billid != checkcno)
                                    {
                                        @itemc.total
                                        totaldebit += itemc.total;
                                    }
                                    </th>
                               
                                <th style="text-align:right; ">
                                    @if (itemc.Payment != Convert.ToDecimal(0))
                                    {
                                        @itemc.Payment
                                    }
                                    </th>
                                <th style="text-align: right; padding-right: 50px">  @itemc.Balance</th>



                            </tr>
                            checkcno = itemc.billid;
                        }


                    }

                }
                <tbody>
                </tbody>

                <tfoot>

                    <tr style="text-align:right; border: 1px solid black; border-bottom-color:white; border-right-color:white; border-left-color:white; ">
                        @{ var todebi = totalcredit + totalbalance;
                            var sumamt =  Convert.ToDecimal(totaldebit);
                            var tc = Convert.ToDecimal(totalcredit) - Convert.ToDecimal(ViewBag.sumofreturntotal);
                            decimal balance = 0;

                            if (sumamt > tc)
                            {
                                balance = (Convert.ToDecimal(sumamt) - Convert.ToDecimal(tc));
                              
                            }
                            else
                            {
                                balance = (Convert.ToDecimal(tc) - Convert.ToDecimal(sumamt));
                               
                            }



                        }
                        <th colspan="6"><h4><b> @sumamt </b> </h4></th>
                        <th><h4><b> @tc </b></h4></th>
                        <th style="text-align:right;padding-right:50px"><h4> <b> </b></h4></th>
                    </tr>
                    <tr style="text-align:right; border: 1px solid black; border-bottom-color:black; border-right-color:white; border-left-color:white; ">

                        <th colspan="6" style="text-align:center"><h4><b>Closing Balance </b> </h4></th>
                     
                        @if (sumamt > balance)
                        {
                            <th><h4 style="color:red"><b> @balance </b></h4></th>
                        }
                        else
                        {
                            <th><h4 style="color:green"><b> @balance </b></h4></th>
                        }

                        <th style="text-align:right;padding-right:50px"><h4> <b> </b></h4></th>
                    </tr>

                    <tr style="text-align: right;border: 1px solid black;border-bottom-color: black;border-right-color: white;border-left-color: white; border-top-color: black;
">

                        <th colspan="6"><h4><b> @sumamt </b> </h4></th>
                        <th><h4><b> @sumamt</b></h4></th>
                        <th style="text-align:right;padding-right:50px"><h4> <b> </b></h4></th>
                    </tr>
                </tfoot>
            </table>



        </div>


       
    </div>

</div>