

@*@model IEnumerable<MailMeBilling.Models.Product>*@
@{
    ViewData["Title"] = "productstock";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    int count = 0;
    decimal totalamount = 0;
    decimal Alltotal = 0;

}
    <style>
        table {
            border-collapse: collapse;
        }

        table, tr, th {
            border: 1px solid black;
        }
    </style>
    <link href="~/css/PrintStyle.css" rel="stylesheet" />
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<!-- ============ Main content start ============= -->
<div class="main-content" id="main">


    <div class="row" id="loadpage">
        <div class="col-md-12">
            <ul class="nav nav-tabs justify-content-end mb-4" id="myTab" role="tablist">

                <li class="nav-item"><a class="nav-link active" id="invoice-tab" data-toggle="tab" href="#invoice" role="tab" aria-controls="invoice" aria-selected="true">Statement</a></li>

            </ul>
            <div class="card">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active " id="invoice" role="tabpanel" aria-labelledby="invoice-tab">

                                              <div class="d-sm-flex mb-5" data-view="print" id="printb">
                            <span class="m-auto"></span>
                            <button class="btn btn-primary mb-sm-0 mb-3 print-invoice">Print Statement</button>
                        </div>

                        <div id="print-area" style="font-family:'Courier New';font-size:medium;padding-top:0px;">
                            <div class="row">
                                <!-- -===== Print Area =======-->
                                <div class="col-12 text-center">


                                    <h1><b> PRODUCT & STOCK STATEMENT</b></h1>



                                    <table style="width:100%">


                                        <thead>
                                            <tr class="text-center">
                                                <th>S.No</th>

                                                <th>
                                                  Product Name
                                                </th>
                                                <th>
                                                  Category
                                                </th>
                                                <th>
                                                   SubCategory
                                                </th>
                                                <th>
                                                   Color
                                                </th>
                                                <th>
                                                  Brand
                                                </th>
                                                <th>
                                                  HSN Code
                                                </th>
                                                <th>
                                                  Stock
                                                </th>
                                                <th>
                                                  Rate
                                                </th>

                                                <th>
                                                    Total Amount
                                                </th>


                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in ViewBag.allsale)
                                            {
                                                count++;
                                                var stock = @item.stock;
                                                var rate = @item.Salesrate;
                                                totalamount = stock * rate;
                                                Alltotal = Alltotal + totalamount;

                                            <tr class="text-center">
                                                <td style="width:10px">@count</td>

                                                <td>
                                                     @item.productname
                                                </td>
                                                <td>
                                                    @item.Category
                                                </td>
                                                <td>
                                                  @item.SubcCategory
                                                </td>
                                                <td>
                                                   @item.Color
                                                </td>
                                                <td>
                                                    @item.Brand
                                                </td>
                                                <td>
                                                  @item.Hsncode
                                                </td>
                                                <td style="text-align:right;padding-right:5px;">
                                                   @item.stock
                                                </td>
                                                <td style="text-align:right;padding-right:5px;">
                                                  @item.Salesrate
                                                </td>
                                                <td style="text-align:right;padding-right:5px;">
                                                  @totalamount
                                                </td>



                                            </tr>
                                            }
                                        </tbody>

                                        <tfoot>

                                            <tr style="text-align:right; border: 1px solid black; border-bottom-color:white; border-right-color:white; border-left-color:white; ">

                                                <th colspan="6" style="text-align:right;padding-right:5px"></th>
                                                <th style="border-right-color:white;">Total Quantity:  </th>
                                                <th style="border-right-color:white;"><b> @ViewBag.sumofstock </b>  </th>
                                                <th style="border-right-color:white;">Total Amount:  </th>
                                                <th style="text-align:right;padding-right:5px"><b> @Alltotal </b></th>

                                            </tr>



                                        </tfoot>
                                    </table>



                                </div>


                              
                            </div>



                            <!-- ==== / Print Area =====-->
                        </div>
                      
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end of main-content -->
    <!-- Footer Start -->
</div>
<!-- ============ Main content End ============= -->
