

@model IEnumerable<MailMeBilling.Models.Product>
@{
    ViewData["Title"] = "productstock";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    int count = 0;
    decimal totalamount = 0;

}
    <style>
        table {
            border-collapse: collapse;
        }

        table, tr, th {
            border: 1px solid black;
        }
    </style>
    <link href="~/css/PrintStyle.css" rel="stylesheet" />
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<!-- ============ Main content start ============= -->
<div class="main-content" id="main">


    <div class="row" id="loadpage">
        <div class="col-md-12">
            <ul class="nav nav-tabs justify-content-end mb-4" id="myTab" role="tablist">

                <li class="nav-item"><a class="nav-link active" id="invoice-tab" data-toggle="tab" href="#invoice" role="tab" aria-controls="invoice" aria-selected="true">Statement</a></li>

            </ul>
            <div class="card">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active " id="invoice" role="tabpanel" aria-labelledby="invoice-tab">

                                              <div class="d-sm-flex mb-5" data-view="print" id="printb">
                            <span class="m-auto"></span>
                            <button class="btn btn-primary mb-sm-0 mb-3 print-invoice">Print Statement</button>
                        </div>

                        <div id="print-area" style="font-family:'Courier New';font-size:medium;padding-top:0px;">
                            <div class="row">
                                <!-- -===== Print Area =======-->
                                <div class="col-12 text-center">


                                    <h1><b> PRODUCT & STOCK STATEMENT</b></h1>



                                    <table style="width:100%">


                                        <thead>
                                            <tr class="text-center" >
                                                  <th>S.No</th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.productimage)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.productname)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Category)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.SubcCategory)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Color)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Brand)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Hsncode)
                                                </th>


                                                <th >
                                                    @Html.DisplayNameFor(model => model.stock)
                                                </th>
                                                <th  >
                                                    @Html.DisplayNameFor(model => model.Salesrate)
                                                </th>




                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                count++;
                                                totalamount = item.stock * item.Salesrate;


                                            <tr class="text-center">
                                                <td style="width:10px">@count</td>
                                                <td>
                                                    @if (item.productimage != null)
                                                    {
                                                        string imageBase64 = Convert.ToBase64String(item.productimage);
                                                        string imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
                                                        <img src="@imageSrc" style="width:50px;height:20px; " data-toggle="modal" data-target=".A-@item.productid" />

                                                        <!--Modal -->
                                                        <div class="modal fade bd-example-modal-lg A-@item.productid" id="" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                            <div class="modal-dialog modal-lg">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" id="exampleModalCenterTitle">@item.productname</h5>
                                                                        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                                    </div>
                                                                    <div class="modal-body text-center">

                                                                        <img src="@imageSrc" style="width:auto;height:auto;" />

                                                                    </div>
                                                                    <div class="modal-footer">

                                                                        <button class="btn btn-primary ml-2" type="button" data-dismiss="modal"> Close</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                    <!-- Modal -->
                                                </td>


                                                <td>
                                                    @Html.DisplayFor(modelItem => item.productname)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Category)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.SubcCategory)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Color)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Brand)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Hsncode)
                                                </td>
                                                <td style="text-align:right;padding-right:5px;">
                                                    @Html.DisplayFor(modelItem => item.stock)
                                                </td>
                                                <td style="text-align:right;padding-right:5px;">
                                                    @Html.DisplayFor(modelItem => item.Salesrate)
                                                </td>



                                            </tr>
                                            }
                                        </tbody>

                                        <tfoot>

                                            <tr style="text-align:right; border: 1px solid black; border-bottom-color:white; border-right-color:white; border-left-color:white; ">

                                                <th colspan="9" style="text-align:right;padding-right:5px"><h4><b> @ViewBag.sumofstock </b> </h4></th>
                                                <th  style="text-align:right;padding-right:5px"><h4><b> @totalamount </b> </h4></th>

                                            </tr>



                                        </tfoot>
                                    </table>



                                </div>


                              
                            </div>



                            <!-- ==== / Print Area =====-->
                        </div>
                      
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end of main-content -->
    <!-- Footer Start -->
</div>
<!-- ============ Main content End ============= -->
