

@model IEnumerable<MailMeBilling.Models.Salesinvoicesummery>
@{
    ViewData["Title"] = "Year Sales Report";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    int count = 0;
    decimal totalcredit = 0;
    decimal totaldebit = 0;
    decimal totalbalance = 0;
}
    <link href="~/css/PrintStyle.css" rel="stylesheet" />

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<!-- ============ Main content start ============= -->
<div class="main-content" id="main">


    <div class="row" id="loadpage">
        <div class="col-md-12">
            <ul class="nav nav-tabs justify-content-end mb-4" id="myTab" role="tablist">

                <li class="nav-item"><a class="nav-link active" id="invoice-tab" data-toggle="tab" href="#invoice" role="tab" aria-controls="invoice" aria-selected="true">Statement</a></li>

            </ul>
            <div class="card">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active " id="invoice" role="tabpanel" aria-labelledby="invoice-tab">




                        <div class="d-sm-flex mb-5" data-view="print" id="printb">
                            <span class="m-auto"></span>
                            <button class="btn btn-primary mb-sm-0 mb-3 print-invoice">Print Statement</button>
                        </div>

                        <div id="print-area" style="font-family:'Courier New';font-size:medium;padding-top:0px;">
                            <div class="row">
                                <!-- -===== Print Area =======-->
                                <div class="col-12 text-center">


                                    <h1><b>YEAR SALE STATEMENT</b></h1>



                                    <table style="width:100%">

                                        <thead>
                                            <tr class="text-center" style="border: 1px solid black;font-family: Apple Chancery">
                                                <th style="padding-left: 10px; padding-right: 0px;  width: 1%;">S.No</th>
                                                <th style=" width: 15%;">DATE</th>
                                                <th style=" width: 15%;">PAYMENT TYPE</th>
                                                <th style=" width: 10%;">REF No</th>
                                                <th style=" width: 7%;">BILL No</th>
                                                <th style="width: 15%;text-align: right">DEBIT</th>
                                                <th style="width: 20%;text-align: right">CREDIT</th>
                                                <th style="width: 20%;text-align: right; padding-right:50px">BALANCE</th>
                                            </tr>
                                        </thead>
                                        @foreach (var item in Model)
                                        {
                                            count++;
                                            totalcredit += item.Paid;
                                            totalbalance += item.Balance;
                                            totaldebit += item.nettotal;

                                            string datein = Convert.ToDateTime(item.Billdate).ToString("dd/MM/yyyy");





                                            <tr class="text-center">
                                                <th>@count</th>
                                                <th>@datein</th>
                                                <th>@item.Paymenttype</th>
                                                <th>@item.Refcode</th>
                                                <th>@item.Billid</th>
                                                <th style="text-align:right;">@item.nettotal</th>
                                                <th style="text-align:right;">@item.Paid</th>

                                                <th style="text-align:right;padding-right:50px">@item.Balance</th>
                                            </tr>

                                        }
                                        <tbody>
                                        </tbody>

                                        <tfoot>

                                            <tr style="text-align:right; border: 1px solid black; border-bottom-color:white; border-right-color:white; border-left-color:white; ">
                                                @{ var todebi = totalcredit + totalbalance;
                                                    var sumamt = Convert.ToDecimal(ViewBag.sumofcustomerbuyamount);
                                                    var balance = Convert.ToDecimal(sumamt) - Convert.ToDecimal(totalcredit);}
                                                <th colspan="6"><h4><b> @ViewBag.sumofcustomerbuyamount </b> </h4></th>
                                                <th><h4><b> @totalcredit </b></h4></th>
                                                <th style="text-align:right;padding-right:50px"><h4> <b> </b></h4></th>
                                            </tr>
                                            <tr style="text-align:right; border: 1px solid black; border-bottom-color:black; border-right-color:white; border-left-color:white; ">

                                                <th colspan="6" style="text-align:center"><h4><b>Closing Balance </b> </h4></th>
                                                <th><h4 style="color:red"><b> @balance </b></h4></th>
                                                <th style="text-align:right;padding-right:50px"><h4> <b> </b></h4></th>
                                            </tr>

                                            <tr style="text-align: right;border: 1px solid black;border-bottom-color: black;border-right-color: white;border-left-color: white; border-top-color: black;
">

                                                <th colspan="6"><h4><b> @ViewBag.sumofcustomerbuyamount </b> </h4></th>
                                                <th><h4><b> @ViewBag.sumofcustomerbuyamount</b></h4></th>
                                                <th style="text-align:right;padding-right:50px"><h4> <b> </b></h4></th>
                                            </tr>
                                        </tfoot>
                                    </table>



                                </div>


                                @*<div class="row">
                                        <div class="col-6 text-left">
                                            <h5><b>E & E ALL Disputes Are Subject To Salem Jurisdiction</b> </h5>  <br />
                                            <h5><b>Goods Once Sold Cannot Be Taken Back</b> </h5>
                                        </div>
                                        <div class="col-6 text-right">
                                            <h3><b>ABDULLAH FURNITURES</b></h3><br />
                                            <br />
                                            <h5 style="padding-right:20px"><b>Authorized Signature</b></h5>
                                        </div>
                                    </div>*@
                            </div>



                            <!-- ==== / Print Area =====-->
                        </div>
                        <div class="tab-pane fade show active" id="edit" role="tabpanel" aria-labelledby="edit-tab">
                            <!-- ==== Edit Area =====-->

                            <div class="mt-3 mb-4 border-top"></div>
                            <!-- ==== Entry Form Area =====-->
                            <!-- ==<== Entry Form Area End =====-->
                            <!-- ==== Form Area =====-->


                        </div>

                        <!-- ==== / Form Area =====-->
                        <!-- ==== / Edit Area =====-->
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end of main-content -->
    <!-- Footer Start -->
    </div>
    <!-- ============ Main content End ============= -->




