@{ int count = 0;
    decimal totalcredit = 0;
    decimal emibno = 0;
    decimal totalbalance = 0;
    }


    

<!--print test-->
    <link href="~/css/PrintStyle.css" rel="stylesheet" />
<div id="print-area" style="font-family:'Courier New';font-size:medium;padding-top:0px;">
    <div class="row">
       
        <div class="col-12 text-center">


            <h1><b>CREDIT VENDOR STATEMENT</b></h1>
            <div class="col-12 text-left ">
                @foreach (var item in Model.creditvendordetails)
                {
                    <div class="row">
                        <div class="col-6">
                            <div class="row">
                                <div class="col-4">
                                    <b>Vendor Name </b>
                                </div>
                                <div class="col-1" style="text-align:right">
                                    <span style="text-align:right;">:</span>
                                </div>
                                <div class="col-7" style="text-align:left">
                                    @item.Name
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <b> Mobile Number</b>
                                </div>
                                <div class="col-1" style="text-align:right">
                                    <span style="text-align:right;">:</span>
                                </div>
                                <div class="col-7" style="text-align:left">
                                    @item.Mobilenumber
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-4">
                                    <b> Adddress</b>
                                </div>
                                <div class="col-1" style="text-align:right">
                                    <span style="text-align:right;">:</span>
                                </div>
                                <div class="col-7" style="text-align:left">
                                    <p> @item.Address</p>
                                </div>
                            </div>
                        </div>

                    </div>


                    <br />

                }

            </div>
           

            <table style="width:100%">
                <thead>

                    <tr class="text-center" style="border: 1px solid black;font-family: Apple Chancery">
                        <th style="padding-left: 10px; padding-right: 0px;  width: 1%;">S.NO</th>
                        <th style=" width: 15%;">DATE</th>
                        <th style=" width: 15%;">PAYMENT TYPE</th>
                        <th style=" width: 10%;">REF NO</th>
                        <th style=" width: 7%;">BILL NO</th>
                        <th style="width: 15%;text-align: right">DEBIT</th>
                        <th style="width: 20%;text-align: right">CREDIT</th>
                        <th style="width: 20%;text-align: right; padding-right:50px">BALANCE</th>
                    </tr>
                </thead>
                @foreach (var item in Model.eminotes)
                {
                    count++;
                    totalcredit += item.paid;
                    string datein = Convert.ToDateTime(item.cdate).ToString("dd/MM/yyyy");
                    @*<tr class="text-center">
                        <th>@count</th>
                        <th>@datein</th>
                        <th>@item.paymenttype</th>
                        <th>@item.refno</th>
                        <th>@item.cid</th>
                        <th style="text-align:right;">@item.totalamount</th>
                        <th style="text-align:right;">@item.paid</th>
                        <th style="text-align:right;padding-right:50px">@item.balance</th>
                    </tr>*@
                    @foreach (var items in Model.emipaymenthistries)
                    {
                        if (item.cid == items.billid)
                        {                            count++;
                            string dateing = Convert.ToDateTime(items.Paiddate).ToString("dd/MM/yyyy");
                    <tr class="text-center">
                <th>@count</th>
                <th>@dateing</th>
                <th>@items.paymenttype</th>
                <th>@items.refno</th>
                <th>@items.billid</th>
                <th style="text-align:right;">
                    @if (items.total != Convert.ToDecimal(0) && items.billid != emibno)
                    {
                        @items.total
                    }

                </th>
                <th style="text-align:right;">
                    @if (items.Payment != Convert.ToDecimal(0))
                    {
                        @items.Payment
                    }
                </th>
                <th style="text-align:right;padding-right:50px">@items.Balance</th>
            </tr>
                            emibno = items.billid;

                        }
                    }
                   
                }

                <tbody>
                </tbody>

                <tfoot>

                    <tr style="text-align:right; border: 1px solid black; border-bottom-color:white; border-right-color:white; border-left-color:white; ">
                        @{ var todebi = totalcredit + totalbalance;
                            var sumamt = Convert.ToDecimal(ViewBag.sumofcustomerbuyamount);
                            var tc = Convert.ToDecimal(totalcredit) - Convert.ToDecimal(ViewBag.sumofreturntotal);
                            var balance = (Convert.ToDecimal(sumamt) - Convert.ToDecimal(totalcredit));


                        }
                        <th colspan="6"><h4><b> @ViewBag.sumofcustomerbuyamount </b> </h4></th>
                        <th><h4><b> @totalcredit </b></h4></th>
                        <th style="text-align:right;padding-right:50px"><h4> <b> </b></h4></th>
                    </tr>
                    <tr style="text-align:right; border: 1px solid black; border-bottom-color:black; border-right-color:white; border-left-color:white; ">

                        <th colspan="6" style="text-align:center"><h4><b>Closing Balance </b> </h4></th>
                        <th><h4 style="color:red"><b> @balance </b></h4></th>
                        <th style="text-align:right;padding-right:50px"><h4> <b> </b></h4></th>
                    </tr>

                    <tr style="text-align: right;border: 1px solid black;border-bottom-color: black;border-right-color: white;border-left-color: white; border-top-color: black;
">

                        <th colspan="6"><h4><b> @ViewBag.sumofcustomerbuyamount </b> </h4></th>
                        <th><h4><b> @ViewBag.sumofcustomerbuyamount</b></h4></th>
                        <th style="text-align:right;padding-right:50px"><h4> <b> </b></h4></th>
                    </tr>
                </tfoot>
            </table>



        </div>


    @*<div class="row">
        <div class="col-6 text-left">
            <h5><b>E & E ALL Disputes Are Subject To Salem Jurisdiction</b> </h5>  <br />
            <h5><b>Goods Once Sold Cannot Be Taken Back</b> </h5>
        </div>
        <div class="col-6 text-right">
            <h3><b>ABDULLAH FURNITURES</b></h3><br />
            <br />
            <h5 style="padding-right:20px"><b>Authorized Signature</b></h5>
        </div>
    </div>*@
</div>

    </div>