@model MailMeBilling.Models.RolleDetails

@{
    ViewData["Title"] = "ROLE DETAIL";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



<div>
    <h4> @Html.DisplayFor(model => model.Name) Detail</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DOB)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DOB)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mobilenumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mobilenumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Branch)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Branch)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Roll)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Roll)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Comfirmpassword)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Comfirmpassword)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Entrydate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Entrydate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Entryby)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Entryby)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Employeeid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
