@model IEnumerable<MailMeBilling.Models.RolleDetails>

@{
    ViewData["Title"] = "Rolls";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

    <div class="card text-left">
        <div class="card-body">
            <div class="row">
                <div class="col-10">
                    <h4 class="card-title mb-3"><b>Roll List</b></h4>
                    <p>All  Roll detail list here..</p>
                </div>
                <div class="col-2">
                    <p class="text-right">
                        <a asp-action="Create" class="btn btn-primary">Create New</a>
                    </p>
                </div>
            </div>         
          

            <div class="table-responsive">
                <table class="display table table-striped table-bordered" id="zero_configuration_table" style="width:100%">
                    <thead>
                        <tr class="text-center">
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DOB)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Mobilenumber)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Branch)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Address)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Gender)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Roll)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Email)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Password)
                            </th>

                            <th>ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr class="text-center">
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DOB)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Mobilenumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Branch)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Address)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Gender)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Roll)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Password)
                            </td>

                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Employeeid">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.Employeeid">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.Employeeid">Delete</a>
                            </td>
                        </tr>
                        }
                    </tbody>

                </table>
            </div>
        </div>
    </div>
    
    
    