@model MailMeBilling.Models.Expens

@{
    ViewData["Title"] = "Delete Expens";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Expens Delete</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.reason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.reason)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.branch)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.branch)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.entrydate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.entrydate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.entryby)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.entryby)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="eid" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
