@model IEnumerable<MailMeBilling.Models.Expens>

@{
    ViewData["Title"] = "Expens List";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    int con = 0;
}

<h1>Expens List</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Add Expens</a>
</p>


<div class="card text-left">
    <div class="card-body">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="card-title mb-3"><b>All Expens List</b></h2>

            </div>

        </div>
        <div class="table-responsive">
            <table id="example" class="display table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>S.No</th>
                        <th>
                            @Html.DisplayNameFor(model => model.entrydate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.reason)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.amount)
                        </th>


                        <th>
                            @Html.DisplayNameFor(model => model.entryby)
                        </th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        con++;
                        <tr>
                            <td>@con</td>
                            <td>
                                @Html.DisplayFor(modelItem => item.entrydate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.reason)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.amount)
                            </td>


                            <td>
                                @Html.DisplayFor(modelItem => item.entryby)
                            </td>
                            <td>
                              
                                <a  class="btn btn-success" asp-action="Details" asp-route-id="@item.eid">Details</a> 
                                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.eid">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="3" style="text-align:right">Total:</th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>

    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>


<script>

    $(document).ready(function () {
        $('#example').DataTable({
            "footerCallback": function (row, data, start, end, display) {
                var api = this.api(), data;

                // Remove the formatting to get integer data for summation
                var intVal = function (i) {
                    return typeof i === 'string' ?
                        i.replace(/[\₹,]/g, '') * 1 :
                        typeof i === 'number' ?
                            i : 0;
                };

                // Total over all pages
                total = api
                    .column(3)
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                // Total over this page
                pageTotal = api
                    .column(3, { page: 'current' })
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                // Update footer
                $(api.column(3).footer()).html(
                    '₹' + pageTotal + ' ( ₹' + total + ' total)'
                );
            }
        });
    });

</script>
