@model MailMeBilling.Models.Vendor

@{
    ViewData["Title"] = "DELETE VENDOR";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Vendor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mobilenumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mobilenumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bankname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bankname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Accountnumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Accountnumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ifsccode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ifsccode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.bankbranch)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.bankbranch)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="vendorId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
